{% extends 'base.html' %}

{% block title %}Inicio - Aerolínea{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-4">Bienvenido al sistema de gestión de Aerolínea</h1>
    <p class="lead">Usá el menú superior para gestionar aviones, vuelos y pasajeros.</p>
    <hr class="my-4">
    <p>Podés comenzar visualizando la lista de vuelos disponibles o registrando un nuevo pasajero.</p>
    <a href="{% url 'gestionVuelos:flight_list' %}" class="btn btn-primary btn-lg me-2">Ver Vuelos</a>
    {#<a href="{% url 'gestionVuelos:passenger_create' %}" class="btn btn-success btn-lg">Registrar Pasajero</a>#}
</div>
{% endblock %}
